<h1>Users#show</h1>

<%#= current_user.inspect %>

<p>USER NAME: <b><%= current_user.name %></b>!</p>
<p>USER ID: <b><%= current_user.id %></b></p>
<p>USER EMAIL: <b><%= current_user.email %></b></p>
<p>JOINED ON:<b> <%= current_user.created_at %></b></p>
