<!-- <h1>User Info:</h1> -->
<% @items = Item.all %>

<!-- <h1 class="center">HELLO: <b><%= current_user.name %></b>!</h1> -->


<div id="myDIV" class="header">
  <h2 class="center"><b><%= current_user.items.count %></b> taSks</h2>

  <%= render partial: 'items/form' %>

  <table id="tableBorder" class="table table-striped table-condensed table-responsive" >
    <thead class="thRight">
    <tr>
      <th>taSk</th>
      <th class="shrinkColumn">Days remaining</th>
      <th class="shrinkColumn"> Edit / Delete</th>
    </tr>
    </thead>
    <tbody>
      <tr>
      <%= render @items %>
    </tr>
    </tbody>
  </table>
</div>
