<h1>Users Info:</h1>
<% @items = Item.all %>

<p>USER NAME: <b><%= current_user.name %></b></p>
<p>USER ID: <b><%= current_user.id %></b></p>

<div id="myDIV" class="header">
  <h2>My taSks</h2>
  <%= render partial: 'items/form' %>

  <table class="table">
    <thead>
      <th>Item</th>
      <th>Days remaining</th>
      <th></th>
    </thead>
    <tbody>
      <%= render @items %>
    </tbody>
  </table>
</div>
