<div class="container-fluid">

<h2 class= 'justtaSkme msgFont'>You don't need to mange it all.</h2>
<h1 class="justtaSkme msgFont">Just <span > <span class="almostWhite">t</span>aSk!</span> me to<span id="bracketO">o</span></h1>
  <div class="row">
    <ul>
      <li class="strkeThrough actions col-sm-3 centerText pull-right redText" id="deleteText">Delete</li>

      <li class="actions col-sm-3 centerText blackBg white-text">Schedule</li>

      <li class="actions col-sm-3 centerText center pull-left blackBg white-text" >Complete</li>
    </ul>
  </div>
