<%= form_for @item do |f| %>
<div class="form-group">

    <%= f.text_field :name, class:"input" %>
    <%= f.submit "Add", class: "addBtn" %>
    <div class="addListBtn glyphicon glyphicon-th-list blackText"></div>

<% end %>
</div>
