<tr>
  <td class="iTem"><%= item.name %></td>
  <td>
    <%= distance_of_time_in_words(Time.now, item.created_at + 7.days ) %> left <br>
  </td>
  <td>
    <% if current_user %>
    <%= link_to "And Done!", item, method: :delete, class: 'btn btn-danger', autofoucs: true %>
    <% end %>
  </td>
</tr>
