/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


body {
    background: #FFBC42;
}

html {
    height: 100%;
}

.glyphicon {
  font-size: 22px;
  margin: 0 25px;
  // border-left: 0px;
  // border-right: 0px;
  // float: right;
}

/* Text transformations */
  /*  Colors */
.white-text { color: white; }

.grey-text { color: #4d6066; }

.blackText { color: #204156; }

.redText { color: #D81159; }

.almostWhite {
  color: #E8E8E8;
}
/* Strike through */
.strkeThrough { text-decoration: line-through; }

  /* Case */
.uppercase { text-transform: uppercase; }

.lowercase { text-transform: lowercase; }

.capitalize { text-transform: capitalize; }

.centerText {
  text-align: center;
}

#blackBg {
  background-color: black;
}

.linkSize {
  color: grey-text;
}

.text-space {
  letter-spacing: 3px;
}
